@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --cor-primaria: #F4511E;
    --cor-secundaria:#FF7043;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

table.table {
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 82%);
}
.imgtexto{
    border: 5px solid #bcc4c7;
    width: 11%;
}


button.btn{
    min-width: 80px;
}

/* Override */
/* div.modal-dialog{
    max-width: 700px;
} */


#loading{
    display: none;
}

li{
    padding-left: 80px;
}
.navbar-brand{
    background-color: rgb(71, 68, 68);
    color: rgb(240, 219, 219);
    font-size: 35px;
}
#sair :hover{
    background-color:#0d6efd;
    border-radius: 50px;
    
}

.col-sm-3{
    
}
#collapsibleNavbar{
    display: flex;
}
.sair{
    margin-left: 450px;



   
  }
  
  #sair{
    min-width: 150px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: fixed;
    padding: 10px;
    }
  
  #sair::before {
  content: '';
    border-radius: 2000px;
    min-width: calc(150px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #sair:hover, #sair:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
 #sair:hover::before, #sair:focus::before {
    opacity: 1;
  }
  
  #sair::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
 #sair:hover::after, #sair:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

